/* Reset de Estilos*/

body{
  margin:0%;
  padding:0%;
}

header,nav,section,aside,footer{
  margin=0;
  padding=0;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
  font-size:100%;
  font:15px normal;
  display:inline-flex;
}

figure,figcaption,img{
  margin=0;
  padding=0;
}

form,input{
  margin=0;
  padding=0;
}

div,blockquote,span{
  margin:0;
  padding:0;
}

ul,ol,li,p,a{
  margin:0;
  padding:0;
}

/* Hoja de Estilos */

.header{
  background-color:#06000a;
  color:#ff0066;
  height:50px;
  display:inline-block;
  width:100%;
  clear:both;
  position:fixed;
  z-index:100;
}

h1{
  margin-left:15px;
  padding-top:8px;
  height:42px;
  font-size:30px; 
  font-family:square;
}

.menu{
  float:right;
  width:50%;
  height:50px;
  margin-right:5px;
}

.bar{
  list-style:none;
  text-align:right;
}

li.itembar{
  display:inline-flex;
  height:50px;
  width:20%;
  transition: 1.2s;
  text-align:center;
}

a.actionbar{
  padding-top:13px;
  height:34px;
  width:100%;
  text-decoration:none;
  color:#ff0066;
  font-size:18px;
  transition: 1.2s;
  font-family:square;
}

li.itembar:hover{
  background:#e6e6e8;
}

a.actionbar:hover{
  color:#06000a;
  transform:scale(1.05)
}

section.desktop{
  display:flex;
  background-image:url(../img/placeholder.jpg);
  background-size:cover;
  background-repat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  position:relative;
  height:100vh;
}

.heroimage{
  display:flex;
  height:100vh;
  background-color:rgba(34,38,85,0.3);
  width:100%;
  align-items:center;
  justify-content:center;
}

h2.welcome{
  outline:solid 10px #06000a;
  outline-offset:20px;
  font:bold 64px cafenerom;
  color:#ff0066;
  text-shadow:10px 10px 10px black;
}

.main{
}

.spaceblock{
  height:50px;
}

img.logo{
  width:200px;
  height:200px;
}

img.block{
  width:150px;
  height:150px;
}
